.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
nav {
  background-color: #565c5e;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-left: 20px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
body {
  background-color: #717744;
}
.aboutme {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
  background-color: #f5f3f4;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.aboutme h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.aboutme p {
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 20px;
}
.project {
  margin-bottom: 30px;
}

.project h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.project img {
  max-width: 100%;
  margin-bottom: 10px;
}

.project p {
  font-size: 18px;
  margin-bottom: 20px;
}

.project a {
  display: inline-block;
  background-color: #7f4f24;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  margin-right: 10px;
}

.project a:hover {
  background-color: #936639;
}
.project-image {
  max-width: 50%;
  height: auto;
}
/* me  */
button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
.live-demo-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.github-repo-button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
}
/* flexbox for images and buttons  */
.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
  
}

.project-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
/* css for contact me */
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contact-info {
  text-align: center;
  font-size: 2rem;
}

.contact-email {
  margin-bottom: 2rem;
}

.contact-email a,
.contact-phone a {
  color: #333;
}
/* my headshot photo css  */
.my-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}




